.court-image {
    margin-top: 10px;
    height: 180px;
    width: auto;
}

.court-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.court-item {
    margin-top: 10px;
    height: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.court-item:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.court-item-holder {
    text-decoration: none !important;
    color: black;
}
.court-item-holder:hover {
    color: black;
}